<table bordered="true" mdbTable #tableEl="mdbTable" hover="true" class="mt-3">
  <thead>
    <tr>
      <th
        *ngFor="let head of headElements; let i = index"
        [mdbTableSort]="elements"
        [sortBy]="headElements[i]"
        scope="col"
      >
        {{ head | titlecase }} <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
  </thead>
  <tbody #row>
    <ng-container *ngFor="let el of elements; let i = index">
      <tr mdbTableCol *ngIf="el.statut == 'denied'">
        <th scope="row" style="text-align: center;">{{ el.id }}</th>
        <td width="25%" style="text-align: center;">{{ el.type }}</td>
        <td width="45%">{{ el.description }}</td>
        <td width="17%" style="text-align: center;">
          Pas d'action
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
