<button
  class="blob-btn-accept"
  id="login-btn-container"
  (click)="basicModal.show()"
>
  Ajouter un utilisatuer <i class="fas fa-plus"></i>
  <span class="blob-btn-accept__inner">
    <span class="blob-btn-accept__blobs">
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
      <span class="blob-btn-accept__blob"></span>
    </span>
  </span>
</button>
<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade right"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div
      class="modal-content"
      style="background-color: transparent; box-shadow: none; border: none;"
    >
      <div class="container">
        <mdb-card>
          <mdb-card-header
            style="background-color: #3abeea;"
            class="text-center text-white"
          >
            <h5>
              <strong>Ajouter un utiisateur</strong>
            </h5>
          </mdb-card-header>
          <mdb-card-body class="px-lg-5 pt-0">
            <form
              class="text-center"
              style="color: #757575;"
              [formGroup]="userForm"
              (submit)="onSubmit()"
            >
              <div class="form-row">
                <div class="col">
                  <input
                    type="text"
                    id="materialRegisterFormFirstName"
                    class="form-control mt-4"
                    mdbInput
                    placeholder="Nom"
                    formControlName="nom"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    id="materialRegisterFormLastName"
                    class="form-control mt-4"
                    mdbInput
                    placeholder="Prénom"
                    formControlName="prenom"
                  />
                </div>
              </div>

              <input
                type="text"
                id="materialRegisterFormLastName"
                class="form-control mt-4"
                mdbInput
                placeholder="username"
                formControlName="userName"
              />
              <input
                type="text"
                id="materialRegisterFormLastName"
                class="form-control mt-4"
                mdbInput
                placeholder="cin"
                formControlName="cin"
              />

              <input
                type="text"
                id="materialRegisterFormLastName"
                class="form-control mt-4"
                mdbInput
                placeholder="mot de passe"
                formControlName="password"
              />
              <input
                type="email"
                id="materialRegisterFormLastName"
                class="form-control mt-4"
                mdbInput
                placeholder="email"
                formControlName="email"
              />
              <select
                class="browser-default custom-select mb-4 mt-4"
                formControlName="role"
                (change)="onChanged($event.target.value)"
              >
                <option value="" disabled selected hidden>role </option>
                <option value="chef daaf">chef daaf</option>
                <option value="employe">employe</option>
                <option value="chef hierarchique">chef hierarchique</option>
                <option value="agent daaf">agent daaf</option>
                <option value="chef park">chef parc</option>
              </select>
              <!--les chef hierarchique disponibles begin-->
              <select
                class="browser-default custom-select mb-4"
                formControlName="chefHierarchiqueCin"
                *ngIf="isEmploye"
              >
                <option value="" disabled selected hidden>
                  qui est le chef hierarchique de cette employe
                </option>
                <option
                  *ngFor="let el of elementsChefHie; let i = index"
                  value="{{ el.cin }}"
                  >{{ el.nom }} {{ el.prenom }}</option
                >
              </select>
              <!--les chef hierarchique disponibles end-->
              <!--les chef DAAF disponibles begin-->
              <select
                class="browser-default custom-select mb-4"
                formControlName="chefDAAFCin"
                *ngIf="isAgent"
              >
                <option value="" disabled selected hidden>
                  qui est le chef DAAF de cette agent
                </option>
                <option
                  *ngFor="let el of elementsChefDAAF; let i = index"
                  value="{{ el.cin }}"
                  >{{ el.nom }} {{ el.prenom }}</option
                >
              </select>
              <!--les chef DAAF disponibles end-->
              <button class="blob-btn mr-1 ml-1" type="submit">
                Ajouter <i class="fas fa-plus"></i>
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                  </span>
                </span>
              </button>
              <button
                class="blob-btn-danger mr-1 ml-1"
                id="login-btn-container"
                (click)="basicModal.hide()"
                type="reset"
              >
                Annuler <i class="fa fa-times" aria-hidden="true"></i>
                <span class="blob-btn-danger__inner">
                  <span class="blob-btn-danger__blobs">
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                    <span class="blob-btn-danger__blob"></span>
                  </span>
                </span>
              </button>
            </form>
            <!-- Form -->
          </mdb-card-body>
        </mdb-card>
        <!-- Material form register -->
      </div>
    </div>
  </div>
</div>
