.container {
    margin-left: 22%;
    margin-top: 7%;
}
@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
        margin-left: 0%;
    }
}
.blob-btn-warning,
.blob-btn-danger,
.blob-btn-accept {
    &::before {
        border: none;
    }
}

.btn-container {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
