.container {
    margin-left: 22%;
    margin-top: 7%;
}
mdb-card {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
        margin-left: 0%;
    }
    mdb-card {
        width: 100%;
        margin-left: 0%;
    }
}

.btn-container {
    display: inline-flex;
    padding: 0px;
    height: 100%;
    margin: 0px;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
app-refuse-confirmation-modal,
app-revision-confirmation-modal,
app-accept-confirmation-modal {
    display: inline-flex;
    height: 60%;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
