<div class="container">
  <mdb-breadcrumb customClass="white" class="bc-icons-2">
    <mdb-breadcrumb-item class="active"
      ><i class="fas fa-home"></i>Home</mdb-breadcrumb-item
    >
    <mdb-breadcrumb-item class="active"
      >Mes demandes des documents papiers</mdb-breadcrumb-item
    >
  </mdb-breadcrumb>
  <mdb-card style="box-shadow: none; border: none;">
    <mdb-card-body>
      <ng-container *ngIf="elements.length < 1">Pas de demande</ng-container>
      <ng-container *ngIf="elements.length > 0">
        <table
          bordered="true"
          mdbTable
          #tableEl="mdbTable"
          hover="true"
          class="mt-3"
        >
          <thead>
            <tr>
              <th
                *ngFor="let head of headElements; let i = index"
                [mdbTableSort]="elements"
                [sortBy]="headElements[i]"
                scope="col"
              >
                {{ head | titlecase }} <mdb-icon fas icon="sort"></mdb-icon>
              </th>
            </tr>
          </thead>
          <tbody #row>
            <tr mdbTableCol *ngFor="let el of elements; let i = index">
              <th scope="row" style="text-align: center;">{{ el.id }}</th>
              <td width="25%" style="text-align: center;">{{ el.type }}</td>
              <td width="45%">{{ el.description }}</td>
              <td width="17%" style="text-align: center;">
                <button
                  class="blob-btn-accept"
                  [routerLink]="['/assigner-demande', el.id]"
                >
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                  <span class="blob-btn-accept__inner">
                    <span class="blob-btn-accept__blobs">
                      <span class="blob-btn-accept__blob"></span>
                      <span class="blob-btn-accept__blob"></span>
                      <span class="blob-btn-accept__blob"></span>
                      <span class="blob-btn-accept__blob"></span>
                      <span class="blob-btn-accept__blob"></span>
                      <span class="blob-btn-accept__blob"></span>
                    </span>
                  </span>
                </button>
              </td>
            </tr>
          </tbody></table
      ></ng-container>
    </mdb-card-body>
  </mdb-card>
</div>
